.badge {
  width: 100%;

  @media (min-width: 767px) {
    width: 100%;
  }
}

.empty
    {
        width:100%;
        content: "";
        background-color:#2f32a0;
        height: 20px;

    }

    .mat-card:not([class*=mat-elevation-z]) {
      box-shadow: 0 2px 1px -1px rgba(0,0,0,1),
                  0 1px 1px 0 rgba(0,0,0,1),
                  0 1px 3px 0 rgba(0,0,0,1);
  }

  .example-radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
  }

  .example-radio-button {
    margin: 5px;
  }

  .FixedHeightContainer
{
  height: 600px;
  padding:3px;
  overflow:auto;
}

.spinner__loading {
  display: flex;
  justify-content: center;
}
